@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Medium'),
    url(./fonts/Montserrat-Medium.ttf) format('truetype');
}

* {
  box-sizing: border-box;
  font-family: Montserrat;
  margin: 0px;
  padding: 0px;
}

body, html {
  width: 100%;
}

.App {
  width: 100%;
  height: 100vh;
  background-color: rgb(243, 243, 243)
}

.cart-icon {
  color: white;
  margin-right: 20%;
}

.cart-icon:hover {
  cursor: pointer;
}

.title {
  margin-left: 20%;
  margin-right: 35%;
  padding: 10px;
  flex: none;
}

.dd-header {
  margin-left: 100%;
}

.title-header {
  display: flex;
  align-items: center;
  background-color: rgb(121, 121, 121);
  width: 100%;
  height: 8vh;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: rgb(243, 243, 243)
}

.card {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.title {
  color: white;

}


.background {
  background-color: rgb(243, 243, 243)
}

.dd-list {
  background: white;
  width: 500px;
  position: absolute;
  top: 8%;
  right: 50%;
  left: 50%;
  border-radius: 3px;
  padding: 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  opacity: 1;
  z-index: 1;
  list-style-type: none;
}

.cart-image {
  height: 100px;
  width: 110px;
}

.dd-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}
.dd-item button {
  font-weight: bold;
  font-size: 20px;
  width: 40px;
  height: 40px;
  padding: 12px;
  border: none;
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  line-height: 0;
}

.dd-item h3 {
  margin-left: 50px;
  float: right;
}

.checkout-button {
  font-size: 18px;
  float: right;
  width: 150px;
  height: 30px;
  background-color: #affc41;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  padding: 0px;
}
.dd-item span {
  color: red;
  margin-left: 12px;
  cursor: pointer;
}

.price-container {
  display: flex;
  flex-direction: column;
  padding: 1px;
  margin-left: 30px;
  margin-right: 30px;
}

.quantity-div {
  font-size: 20px;
  margin-left: 0px;
  margin-right: -10px;
}

.remove-item {
  color: red;
  cursor: pointer;
}

.remove-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dd-item button {
  cursor: pointer;
}

.card-media {
  object-fit: fill;
}